[user]
	name = Javi Cardenas
	email = 85462046+javi-cardenas@users.noreply.github.com
[github]
	user = javi-cardenas
[alias]
	cm = commit -m
	s = status
	p = push
[push]
	autoSetupRemote = true
[init]
	defaultBranch = master
