[user]
	name = Javi Cardenas
	email = # TODO
[github]
	user = javi-cardenas
[alias]
	co = checkout
	sw = switch

	s = status
	a = add
	cm = commit -m
	rs = reset --soft
	p = push

	lo = log --oneline

	m = merge
	rb = rebase # NEVER rebase on a public branch like main

	b = branch
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
