[user]
	name = Javi Cardenas
	email = 85462046+javi-cardenas@users.noreply.github.com
[github]
	user = javi-cardenas
[alias]
	sw = switch
	s = status
	a = add
	cm = commit -m
	p = push
	pf = push --force-with-lease
	m = merge
	lo = log --oneline
	rs = reset --soft
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[fetch]
    prune = true
