[user]
  name   = Javi Cardenas
  email  = 85462046+javi-cardenas@users.noreply.github.com
[github]
  user   = javi-cardenas
[alias]
  co     = checkout
  s      = status
  cm     = commit -m
  p      = push
[push]
	autoSetupRemote = true